<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ConsoleClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="AuthExtension.AuthExtension,AuthExtension"  priority="1"  />
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <applicationSettings>
    <ConsoleClient.Properties.Settings>
      <setting name="ConsoleClient_AsmxService_Test1" serializeAs="String">
        <value>http://localhost:52662/Test1.asmx</value>
      </setting>
    </ConsoleClient.Properties.Settings>
  </applicationSettings>
</configuration>